:root {
  --color-text-primary: #0d1421;
  --color-text-secondary: #354153;
  --color-text-muted: #667085;
  --color-border: #eaecf0;
  --color-background-light: #f8f9fa;
  --color-background-active: #f2f4f7;
  --color-background: #ffffff;

  --font-family-base: "Inter", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family-base);
  background-color: var(--color-background-light);
  display: flex;
  min-height: 100vh;
}

.sidebar {
  flex-basis: 280px;
  flex-shrink: 0;
  background-color: var(--color-background);
  border-right: 1px solid var(--color-border);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 16px;
  padding-top: 35px;
}

.brand-logo {
  display: flex;
  align-items: center;
  gap: 16px;
  text-decoration: none;
  color: var(--color-text-secondary);
  margin-bottom: 30px;
  height: 10px;
  margin-left: 15px;
}

.brand-logo h2 {
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  color: var(--color-text-secondary);
}

.brand-logo img {
  width: 32px;
  height: 32px;
}

.search-bar input {
  width: 100%;
  height: 36px;
  border: 1px solid var(--color-border);
  border-radius: 8px;
  padding: 0 16px;
  font-size: 16px;
}

.search-bar {
  margin-bottom: 16px;
}

.sidebar-nav ul {
  list-style: none;
}

.sidebar-nav a {
  display: block;
  padding: 8px 16px;
  border-radius: 8px;
  text-decoration: none;
  color: var(--color-text-secondary);
  font-weight: 500;
  font-size: 16px;
}

.sidebar-nav li:first-child {
  margin: 0 10px;
  border-radius: 8px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: var(--color-text-primary);
}

.sidebar-nav li:not(:first-child) {
  padding-left: 15px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: var(--color-text-primary);
}

.sidebar-nav li.active {
    background-color: var(--color-background-active); 
    border-radius: 8px;
}
.sidebar-nav li.active a {
    color: var(--color-text-primary); 
}

.sidebar-footer p {
  font-size: 16px;
  color: var(--color-text-muted);
  font-weight: 400;
  line-height: 24px;
}

.main-wrapper {
  flex-grow: 1;
  overflow-y: auto;
}

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
  border: 1px solid var(--color-border);
  padding: 20px 30px;
}

.main-header h1 {
  font-size: 30px;
  color: var(--color-text-primary);
  font-weight: 600;
  line-height: 40px;
}

.sort-dropdown {
    position: relative;
}

.sort-button {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px 16px;
    border: 1px solid var(--color-border);
    border-radius: 8px;
    background: white;
    cursor: pointer;
    list-style: none; /* Убираем треугольник */
    font-weight: 600;
    color: var(--color-text-secondary);
}
.sort-button::-webkit-details-marker { display: none; }

.sort-options {
    position: absolute;
    top: 100%;
    right: 0;
    width: 200px;
    background: white;
    border: 1px solid var(--color-border);
    border-radius: 8px;
    padding: 8px;
    margin-top: 5px;
    list-style: none;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    z-index: 10;
}

.sort-options li {
    padding: 10px;
    cursor: pointer;
    border-radius: 6px;
    font-size: 14px;
    color: var(--color-text-secondary);
}

.sort-options li:hover {
    background-color: var(--color-background-light);
}

/* Стиль для ВЫБРАННОГО элемента */
.sort-options li.active {
    background-color: var(--color-background-active); /* Серый фон */
    color: var(--color-text-primary);
    font-weight: 500;
}

.tasks {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  padding: 24px;
}

.task-card {
  background-color: var(--color-background);
  border: 1px solid var(--color-border);
  border-radius: 8px;
  flex-basis: calc((100% - 24px * 3) / 4);
  flex-grow: 1;
}

.task-card img {
  width: 64px;
  height: 8px;
  margin-left: 20px;
  margin-top: 25px;
}

.card-body {
  padding: 25px;
}

.card-body h2 {
  font-size: 24px;
  color: var(--color-text-primary);
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
}
.card-description {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: var(--color-text-muted);
  margin-top: 20px;
  margin-bottom: 10px;
}

.card-details div {
  display: flex;
  align-items: baseline;
  gap: 8px;
  font-size: 14px;
}

.card-details-respons {
  margin-top: 8px;
}

.card-details dt {
  color: var(--color-text-secondary);
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.card-details dd {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--color-text-primary);
}
